@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 800px;
  fonts-size: 15px;
  font-family: 'Spartan', sans-serif;
}

body main {
  width: 90%;
  max-width: 1440px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body main .header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .header-section .text {
  width: 40%;
  max-width: 500px;
}

body main .header-section .text h1 {
  font-size: 3rem;
  color: #502050;
}

body main .header-section .text p {
  font-weight: 700;
  color: #937b92;
  line-height: 1.7;
}

body main .header-section .ratings {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 1rem;
}

body main .header-section .ratings .rating-section {
  position: relative;
  margin: 1rem 0;
  padding: 1rem .5rem;
  border-radius: .5rem;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #502050;
  font-weight: 700;
  background: #f7f2f7;
}

body main .header-section .ratings .rating-section-1 {
  right: 3rem;
}

body main .header-section .ratings .rating-section-3 {
  left: 3rem;
}

body main .body-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

body main .body-section .card {
  width: 300px;
  background: #502050;
  padding: 2rem;
  border-radius: 1rem;
}

body main .body-section .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .body-section .card .card-header img {
  border-radius: 50%;
  width: 60px;
}

body main .body-section .card .card-header ul {
  list-style: none;
}

body main .body-section .card .card-header ul .name {
  color: white;
  font-weight: 700;
  margin-bottom: .3rem;
}

body main .body-section .card .card-header ul .function {
  color: #ee68a4;
  font-weight: 700;
}

body main .body-section .card .card-body p {
  font-weight: 500;
  color: #f7f2f7;
}

body main .body-section .card-2 {
  position: relative;
  top: 1rem;
}

body main .body-section .card-3 {
  position: relative;
  top: 2rem;
}

body .attribution {
  font-size: 13px;
  text-align: center;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
}

body .attribution a {
  color: #502050;
  text-decoration: none;
  -webkit-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
}

body .attribution a:hover {
  color: #2c112c;
}

body .attribution a:active {
  font-weight: 500;
}

@media (max-width: 1225px) {
  body {
    height: 1300px;
  }
  body main .body-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 900px) {
  body {
    height: 1600px;
  }
  body main .header-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .header-section .text {
    width: 375px;
  }
  body main .header-section .ratings {
    width: 375px;
  }
  body main .header-section .ratings .rating-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .header-section .ratings .rating-section-1 {
    right: 0;
  }
  body main .header-section .ratings .rating-section-3 {
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */